
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}

#status
{
font-size: 18px;
}

body{
    background-position: center;
    background-size: cover;
}

canvas{
    box-shadow: 6px 6px 20px rgb(0, 0, 0);
    border-radius: 6px;
    border-style: dashed;
}
